In [3]:
import pandas as pd
import numpy as np
import re
import nltk

In [4]:
def word_counter(text):
    sum = 0
    text = re.sub(r'  +', ' ', text)
    length = (len([i for i in text.split(' ') if i!='']))
    for i in text.split(' '):
        sum += len(i)
    avg_len_word = sum // length
    return length, avg_len_word

## Ironic Data Analyze

In [6]:
df_ironic = pd.read_excel('allironic_withsubject.xlsx')
df_ironic[df_ironic["subject"]!="world"]
display(df_ironic)

                                                  title     subject
0     Isparta'yı -5 Derecede 48 Saat Elektriksiz Bır...     economy
1     Rapor: Mühendislik Eğitimi Artı MBA Artı Özel ...     economy
2     Son 3 Yılda 6 Kez Başkan Değiştiren TÜİK'te İh...    politics
3     Ekonomide Düşündüren Tablo: 1 Haftadır Evde Ya...     economy
4     ''Teknik sorunlar'' Nedeniyle Türkiye'ye Doğal...     economy
...                                                 ...         ...
3527  AKP’nin seçim şarkısı: Şehit olmaya geldik, çü...    politics
3528    Çekmeköy Belediyesi’nden Yolda Tarla Uygulaması    politics
3529   Çinli Bilim Adamları Aromanın da Aromasını Yaptı  technology
3530  Diyanet İşler Başkanlığı: Halkımızın %99’u Müs...    politics
3531         Başbakan Davutoğlu: “Kürt Sorununu Çözdük”    politics

[3532 rows x 2 columns]

In [7]:
df_ironic[['num_word','avg_len_word']] =df_ironic.apply(lambda x: word_counter(x.title), axis=1, result_type='expand')
display(df_ironic)

,title,subject,num_word,avg_len_word
0,Isparta'yı -5 Derecede 48 Saat Elektriksiz Bır...,economy,25,6
1,Rapor: Mühendislik Eğitimi Artı MBA Artı Özel ...,economy,31,5
2,Son 3 Yılda 6 Kez Başkan Değiştiren TÜİK'te İh...,politics,21,5
3,Ekonomide Düşündüren Tablo: 1 Haftadır Evde Ya...,economy,18,6
4,''Teknik sorunlar'' Nedeniyle Türkiye'ye Doğal...,economy,13,8
...,...,...,...,...
3527,"AKP’nin seçim şarkısı: Şehit olmaya geldik, çü...",politics,8,6
3528,Çekmeköy Belediyesi’nden Yolda Tarla Uygulaması,politics,5,8
3529,Çinli Bilim Adamları Aromanın da Aromasını Yaptı,technology,7,6
3530,Diyanet İşler Başkanlığı: Halkımızın %99’u Müs...,politics,7,7
3531,Başbakan Davutoğlu: “Kürt Sorununu Çözdük”,politics,5,7

In [8]:
df_ironic.groupby('subject')['num_word', 'avg_len_word'].mean().round(0).astype('int')

/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/2662608667.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_ironic.groupby('subject')['num_word', 'avg_len_word'].mean().round(0).astype('int')

            num_word  avg_len_word
subject
economy           15             6
education         14             6
health            14             7
politics          13             7
sport             13             6
technology        13             6
world             15             7

In [10]:
display(df_ironic.groupby('subject')['subject'].count())

subject
economy        748
education      235
health         212
politics      1348
sport          280
technology     348
world          361
Name: subject, dtype: int64

## Non-Ironic Data Analyze

In [14]:
df_non_ironic = pd.read_excel('Non-Ironic Data/TurkishHeadlines.xlsx')
display(df_non_ironic.head(10))

                                            HABERLER   ETIKET
0  TÜİK verilerine göre sanayi ciro endeksi Ağust...  Ekonomi
1                  Piyasa güne eksi rezervde başladı  Ekonomi
2  Citigroup, Deutsche Bank ve HSBC Libor manipül...  Ekonomi
3  Gelişen piyasa yatırımcılarını en fazla 'Fed' ...  Ekonomi
4            Bitcoin fiyatında yükseliş hız kesmiyor  Ekonomi
5       Petrolün varili 56,53 dolardan işlem görüyor  Ekonomi
6  IMF Başkanı Christine Lagarde, artan global ri...  Ekonomi
7  Tüpraş 7 yıl vadeyle 700 milyon dolar borçlanıyor  Ekonomi
8  Çin'de ihracat direncini korurken ithalat hızl...  Ekonomi
9    Fed'in aralıkta faiz artıracağına emin değilim'  Ekonomi

In [15]:
df_non_ironic['HABERLER'] = df_non_ironic.apply(lambda x: re.sub(' ', ' ',x.HABERLER), axis=1)

In [16]:
df_non_ironic[['num_word','avg_len_word']] =df_non_ironic.apply(lambda x: word_counter(x.HABERLER), axis=1, result_type='expand')

In [17]:
df_non_ironic.groupby('ETIKET')['num_word', 'avg_len_word'].mean().round(0).astype('int')

/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/2610747289.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_non_ironic.groupby('ETIKET')['num_word', 'avg_len_word'].mean().round(0).astype('int')

           num_word  avg_len_word
ETIKET
Ekonomi          12             6
Magazin          16             6
Sağlık           15             6
Siyaset          13             7
Spor             17             6
Teknoloji        13             6
Yaşam            12             6

In [18]:
df_non_ironic[(-df_non_ironic['ETIKET'].isin(['Magazin','Yaşam']))].groupby('ETIKET')['ETIKET'].count()

ETIKET
Ekonomi      600
Sağlık       600
Siyaset      600
Spor         600
Teknoloji    600
Name: ETIKET, dtype: int64

In [25]:
tech = df_non_ironic[(df_non_ironic['ETIKET']=='Teknoloji')&(df_non_ironic['num_word']>=6)&(df_non_ironic['num_word']<=22)][:348]
display(tech.groupby('ETIKET')['ETIKET'].count())

ETIKET
Teknoloji    348
Name: ETIKET, dtype: int64

In [27]:
health = df_non_ironic[(df_non_ironic['ETIKET']=='Sağlık')&(df_non_ironic['num_word']>=10)&(df_non_ironic['num_word']<=19)][:212]
display(health.groupby('ETIKET')['ETIKET'].count())

ETIKET
Sağlık    212
Name: ETIKET, dtype: int64

In [30]:
sport = df_non_ironic[(df_non_ironic['ETIKET']=='Spor')&(df_non_ironic['num_word']>=10)&(df_non_ironic['num_word']<=17)][:280]
display(sport.groupby('ETIKET')['ETIKET'].count())

ETIKET
Spor    280
Name: ETIKET, dtype: int64

### Balanced with the savasy non-ironic dataset

In [32]:
balanced = pd.DataFrame()

In [33]:
balanced = pd.concat([balanced, tech])
balanced = pd.concat([balanced, health])
balanced = pd.concat([balanced, sport])
balanced = pd.concat([balanced, df_non_ironic[df_non_ironic['ETIKET']=='Ekonomi']])
balanced = pd.concat([balanced, df_non_ironic[df_non_ironic['ETIKET']=='Siyaset']])

In [34]:
display(balanced.groupby('ETIKET')['ETIKET'].count())

ETIKET
Ekonomi      600
Sağlık       212
Siyaset      600
Spor         280
Teknoloji    348
Name: ETIKET, dtype: int64

In [36]:
display(balanced.groupby('ETIKET')['num_word', 'avg_len_word'].mean().round(0).astype('int'))

/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/903787466.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  display(balanced.groupby('ETIKET')['num_word', 'avg_len_word'].mean().round(0).astype('int'))

           num_word  avg_len_word
ETIKET
Ekonomi          12             6
Sağlık           15             7
Siyaset          13             7
Spor             14             7
Teknoloji        13             6

In [39]:
balanced.columns = df_ironic.columns
display(balanced)

,title,subject,num_word,avg_len_word
3000,Akıllı telefon bağımlılığı son dönemde dünya ç...,Teknoloji,21,6
3004,Küresel akıllı telefon satışları beklentilerin...,Teknoloji,9,7
3005,Apple uygun fiyatlı bir iPad modeli geliştiriyor!,Teknoloji,7,6
3006,Tesla dünyanın en büyük lityum iyon pilini çal...,Teknoloji,8,5
3008,"Drone ile sipariş teslimatı, özellikle Amazon ...",Teknoloji,13,6
...,...,...,...,...
2395,"Almanya Başbakanı Angela Merkel, Suriye'deki d...",Siyaset,9,8
2396,"Almanya Başbakanı Merkel, İstanbul'daki terör ...",Siyaset,12,9
2397,"Rusya Devlet Başkanı Vladimir Putin, İstanbul'...",Siyaset,14,7
2398,"Kazakistan'da, Cumhurbaşkanı Nursultan Nazarba...",Siyaset,15,8
2399,"Fransa Başbakanı Manuel Valls, ülkesinin gelec...",Siyaset,18,7

In [40]:
labels = {'Ekonomi': 'economy','Sağlık':'health','Siyaset':'politics','Spor':'sport','Teknoloji':'technology'}
balanced=balanced.replace({"subject": labels})
display(balanced)

,title,subject,num_word,avg_len_word
3000,Akıllı telefon bağımlılığı son dönemde dünya ç...,technology,21,6
3004,Küresel akıllı telefon satışları beklentilerin...,technology,9,7
3005,Apple uygun fiyatlı bir iPad modeli geliştiriyor!,technology,7,6
3006,Tesla dünyanın en büyük lityum iyon pilini çal...,technology,8,5
3008,"Drone ile sipariş teslimatı, özellikle Amazon ...",technology,13,6
...,...,...,...,...
2395,"Almanya Başbakanı Angela Merkel, Suriye'deki d...",politics,9,8
2396,"Almanya Başbakanı Merkel, İstanbul'daki terör ...",politics,12,9
2397,"Rusya Devlet Başkanı Vladimir Putin, İstanbul'...",politics,14,7
2398,"Kazakistan'da, Cumhurbaşkanı Nursultan Nazarba...",politics,15,8
2399,"Fransa Başbakanı Manuel Valls, ülkesinin gelec...",politics,18,7

## Complete the missed non-ironic data from different dataset

In [50]:
econ = pd.read_csv('Non-Ironic Data/ts_dataset/economics_539256_lines.txt', delimiter='\\n',on_bad_lines='skip', names=['title'])
econ[['subject','title']] = econ['title'].str.split(' ',1,expand=True)
econ['subject'] = 'economy'
econ[['num_word','avg_len_word']] =econ.apply(lambda x: word_counter(x.title), axis=1, result_type='expand')
econ['title'] = econ.apply(lambda x: re.sub(' ', ' ',x.title), axis=1)
econ

/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/2640981246.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  econ = pd.read_csv('Non-Ironic Data/ts_dataset/economics_539256_lines.txt', delimiter='\\n',on_bad_lines='skip', names=['title'])
/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/2640981246.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  econ[['subject','title']] = econ['title'].str.split(' ',1,expand=True)

,title,subject,num_word,avg_len_word
0,"İstanbul Kapalıçarşı'da 129,25 liradan alınan ...",economy,52,5
1,2003 yılından bu yana Eczacıbaşı Topluluğu CEO...,economy,12,6
2,1 Şubat'ta görevi Atalay Gümrah,economy,5,5
3,a devrediyor. Karamercan görevini topluluğun y...,economy,12,7
4,Eczacıbaşı Yatırım Holding Ortaklığı'nın KAP'a...,economy,27,7
...,...,...,...,...
539251,(MEB) ile beraber yürüttüklerini kaydetti. Top...,economy,12,7
539252,) Başkanı İbrahim Turhan ise zorlu süreçlerle ...,economy,76,6
539253,"Merkez Bankası (FED) Başkanı Ben Bernanke, piy...",economy,29,7
539254,"desteği sağlayacağını, büyüme ve istihdamda da...",economy,139,7
539255,"yüzde 1,84 yükselerek 67.367 puanla 10 Mayıs 2...",economy,14,4

In [42]:
display(econ)

,title,subject,num_word,avg_len_word
0,"İstanbul Kapalıçarşı'da 129,25 liradan alınan ...",economy,52,5
1,2003 yılından bu yana Eczacıbaşı Topluluğu CEO...,economy,12,6
2,1 Şubat'ta görevi Atalay Gümrah,economy,5,5
3,a devrediyor. Karamercan görevini topluluğun y...,economy,12,7
4,Eczacıbaşı Yatırım Holding Ortaklığı'nın KAP'a...,economy,27,7
...,...,...,...,...
539251,(MEB) ile beraber yürüttüklerini kaydetti. Top...,economy,12,7
539252,) Başkanı İbrahim Turhan ise zorlu süreçlerle ...,economy,76,6
539253,"Merkez Bankası (FED) Başkanı Ben Bernanke, piy...",economy,29,7
539254,"desteği sağlayacağını, büyüme ve istihdamda da...",economy,139,7
539255,"yüzde 1,84 yükselerek 67.367 puanla 10 Mayıs 2...",economy,14,4

In [51]:
econ = econ[(econ['num_word']>22) & (econ['num_word']<24) & (econ['avg_len_word']<8) & (econ['avg_len_word']>6)][100:248]
display(econ)

,title,subject,num_word,avg_len_word
18925,Enerji ve Tabii Kaynaklar Bakanlığının 2015-20...,economy,23,7
18934,"Stratejik Plana göre, doğalgazın ulaşamadığı m...",economy,23,7
19000,"Reuters'in haberine göre, Volkswagen, ABD otor...",economy,23,7
19180,İnceleme yapılan şirketler arasında grubun med...,economy,23,7
19269,İstanbul'da Paksan işçileri fabrikayı işgal et...,economy,23,7
...,...,...,...,...
44212,Kredi kartlarında uygulanacak azami faiz oranı...,economy,23,7
44303,*Yaptığınız peyniri peynir kaplama malzemesiyl...,economy,23,7
44618,* Eski yönetmelikte “hava yollarının” çıkarıla...,economy,23,7
44621,"Karar, İstanbul’a inşa edilen 3. havalimanını ...",economy,23,7
44688,- Santrallara çevre yatırımları için 2020’ye k...,economy,23,7

In [52]:
balanced = pd.concat([balanced, econ])

In [54]:
display(balanced.groupby('subject')['num_word', 'avg_len_word'].mean().round(0).astype('int'))

/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/2021628747.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  display(balanced.groupby('subject')['num_word', 'avg_len_word'].mean().round(0).astype('int'))

            num_word  avg_len_word
subject
economy           14             6
health            15             7
politics          13             7
sport             14             7
technology        13             6

In [55]:
education = pd.read_csv('Non-Ironic Data/ts_dataset/education_86464_lines.txt', delimiter='\\n',on_bad_lines='skip', names=['title'])
education[['subject', 'title']] = education['title'].str.split(' ', 1, expand=True)
education['subject'] = 'education'
education[['num_word', 'avg_len_word']] = education.apply(lambda x: word_counter(x.title), axis=1, result_type='expand')
education['title'] = education.apply(lambda x: re.sub(' ', ' ', x.title), axis=1)
display(education)

/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/2016214900.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  education = pd.read_csv('Non-Ironic Data/ts_dataset/education_86464_lines.txt', delimiter='\\n',on_bad_lines='skip', names=['title'])
/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/2016214900.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  education[['subject', 'title']] = education['title'].str.split(' ', 1, expand=True)

,title,subject,num_word,avg_len_word
0,"DİHABER'de yer alan habere göre, Ankara Üniver...",education,45,6
1,Söyleşide 15 Temmuz darbe girişimi hakkında ko...,education,39,6
2,Hakkında soruşturma açılan İletişim Fakültesi ...,education,42,7
3,"E.Ç., 15 Temmuz sonrası CNN Türk’ün hükümet ta...",education,30,7
4,Hakkında soruşturma açılan bir başka öğrenci Ş...,education,33,6
...,...,...,...,...
86459,Belediye Başkanı Hilmi Türkmen ve fuarın onur ...,education,21,6
86460,ne teşekkür ederek başladı. Türkiye'nin 15 yıl...,education,43,7
86461,"Rasim Özdenören'in ""onur konuğu"" olmasının ayr...",education,29,8
86462,Törende Üsküdar Belediye Başkanı Hilmi Türkmen...,education,20,6
86463,Bağlarbaşı Kültür ve Kongre Merkezinde 100 yay...,education,22,6

In [57]:
education = education[(education['num_word'] > 11) & (education['num_word'] < 17) & (education['avg_len_word'] >=5) & (education['avg_len_word'] <=7)]
display(education)

,title,subject,num_word,avg_len_word
25,15 Temmuz darbe girişimi sonrasında 2 bin 249 ...,education,16,6
64,Ankete katılan velilerin % 85’i Milli Eğitim B...,education,13,7
69,Nöbetlerle ilgili bir maddede yer alan “bayan ...,education,14,6
89,MEF Üniversitesi Rektör Yardımcısı Prof. Dr. E...,education,13,6
94,"Fen okuryazarı olmayan öğrenci oranımız, sınav...",education,12,7
...,...,...,...,...
86199,derecesine sahip yani bu derecelerle mezun ola...,education,12,6
86219,görevini yerine getirmekte olan er/erbaşlar il...,education,12,6
86234,Türk vatandaşlığından izin ile ayrılanlar ve b...,education,12,7
86237,derecesine sahip yani bu derecelerle mezun ola...,education,12,6
86458,Fuarı üçüncü defa okurlara kapılarını açtı. Fu...,education,14,5

In [59]:
balanced = pd.concat([balanced, education[:235]])

In [60]:
politics = pd.read_csv('Non-Ironic Data/ts_dataset/politics_737166_lines.txt', delimiter='\\n',on_bad_lines='skip', names=['title'])
politics[['subject','title']] = politics['title'].str.split(' ',1,expand=True)
politics['subject'] = 'politics'
politics[['num_word','avg_len_word']] =politics.apply(lambda x: word_counter(x.title), axis=1, result_type='expand')
politics['title'] = politics.apply(lambda x: re.sub(' ', ' ',x.title), axis=1)
display(politics)

/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/3194037574.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  politics = pd.read_csv('Non-Ironic Data/ts_dataset/politics_737166_lines.txt', delimiter='\\n',on_bad_lines='skip', names=['title'])
/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/3194037574.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  politics[['subject','title']] = politics['title'].str.split(' ',1,expand=True)

,title,subject,num_word,avg_len_word
0,"AKP, TBMM Genel Kurulu’nda oylamalar sırasında...",politics,46,8
1,"TBMM Anayasa Komisyonu’nda, dün anayasa öneris...",politics,94,6
2,"AKP’nin yeterlilik önergelerini vermeden önce,...",politics,60,7
3,"CHP Grup Başkanvekili Levent Gök, oturumu yöne...",politics,46,6
4,"CHP’li Gök, dayatılan anayasa önerisi hakkında...",politics,61,7
...,...,...,...,...
737161,5.Ülkemize ciddi manada silah girişleri hangi ...,politics,10,7
737162,6.Ülkemize terör örgütleri tarafından sokulan ...,politics,9,7
737163,7.Çözüm süreci başlangıcından itibaren terör ö...,politics,13,7
737164,8.Çözüm sürecinde terör örgütleri tarafından ü...,politics,16,7
737165,"9.Cumhurbaşkanı Erdoğan'ın ifade ettiği, sınır...",politics,24,7

In [65]:
miss_pol = politics[(politics['num_word']>9) & (politics['num_word']<17) & (politics['avg_len_word']==7)]
display(miss_pol[200:948].groupby('subject')['num_word', 'avg_len_word'].mean().round(0).astype('int'))

/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/2922137211.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  display(miss_pol[200:948].groupby('subject')['num_word', 'avg_len_word'].mean().round(0).astype('int'))

          num_word  avg_len_word
subject
politics        13             7

In [66]:
balanced = pd.concat([balanced, miss_pol[200:948]])

### Compare Balanced Dataset

In [67]:
display(balanced.groupby('subject')['num_word', 'avg_len_word'].mean().round(0).astype('int'))

/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/2409381062.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  display(balanced.groupby('subject')['num_word', 'avg_len_word'].mean().round(0).astype('int'))

            num_word  avg_len_word
subject
economy           14             6
education         14             6
health            15             7
politics          13             7
sport             14             7
technology        13             6

In [69]:
display(df_ironic.groupby('subject')['num_word', 'avg_len_word'].mean().round(0).astype('int'))

/var/folders/4c/qbks93tj3s51x0s4cbdyv3sm0000gn/T/ipykernel_67871/788685822.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  display(df_ironic.groupby('subject')['num_word', 'avg_len_word'].mean().round(0).astype('int'))

            num_word  avg_len_word
subject
economy           15             6
education         14             6
health            14             7
politics          13             7
sport             13             6
technology        13             6
world             15             7

In [70]:
display(balanced.groupby('subject')['subject'].count())

subject
economy        748
education      235
health         212
politics      1348
sport          280
technology     348
Name: subject, dtype: int64

In [71]:
display(df_ironic.groupby('subject')['subject'].count())

subject
economy        748
education      235
health         212
politics      1348
sport          280
technology     348
world          361
Name: subject, dtype: int64

In [72]:
balanced['label'] = 0
df_ironic['label'] = 1

In [73]:
balanced.to_excel('non_ironic_detailed_17-05.xlsx', index=False)

In [74]:
df_ironic.to_excel('ironic_detailed_17-05.xlsx', index=False)

In [75]:
m1=balanced[['title','label']]
m2=df_ironic[['title','label']][df_ironic['subject']!='world']

In [76]:
df_merged = pd.DataFrame()

In [77]:
df_merged = pd.concat([m1,m2])
display(df_merged)

                                                  title  label
3000  Akıllı telefon bağımlılığı son dönemde dünya ç...      0
3004  Küresel akıllı telefon satışları beklentilerin...      0
3005  Apple uygun fiyatlı bir iPad modeli geliştiriyor!      0
3006  Tesla dünyanın en büyük lityum iyon pilini çal...      0
3008  Drone ile sipariş teslimatı, özellikle Amazon ...      0
...                                                 ...    ...
3527  AKP’nin seçim şarkısı: Şehit olmaya geldik, çü...      1
3528    Çekmeköy Belediyesi’nden Yolda Tarla Uygulaması      1
3529   Çinli Bilim Adamları Aromanın da Aromasını Yaptı      1
3530  Diyanet İşler Başkanlığı: Halkımızın %99’u Müs...      1
3531         Başbakan Davutoğlu: “Kürt Sorununu Çözdük”      1

[6342 rows x 2 columns]

In [78]:
df_merged.to_excel('labeled_newdata_17-05.xlsx', index=False)